.bsp/
.idea/
project/target/
project/project/
target/
keys/
project/.bloop
.bloop
*metals
metals*
.vscode
*/node_modules/
frontend/build/
frontend/.svelte-kit/
frontend/package-lock.json
nginx/certbot
.env
build/
game-api-jks/
game-api-tls/