#user-space {
    display: flex;
    align-items: center;
    /*align-content: center;*/
    /*align-self: center;*/
    justify-content: flex-start;
    flex-flow: row wrap;
    /*flex-wrap: wrap-reverse;*/
}

#placeholder {
    flex: 1;
}

#table-place {
    flex: 1;
}

#players-place {
    flex: 1;
}

table.game-field {
    height: 700px;
    width: 700px;
    background-color: lightsteelblue;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

td.pawn-place, table.game-field {
    border: 1px solid black;
    border-collapse: collapse;
}

td.pawn-place {
    padding: 10px 10px 10px 10px;
    background-color: aliceblue;
}

td.pawn-place:hover {
    background-color: coral;
}

td.wall-place.vertical {
    padding: 10px 5px 10px 5px;
}

td.wall-place.horizontal {
    padding: 5px 10px 5px 10px;
}

td.pawn-place.North {
    background-color: darkred;
}

td.pawn-place.South {
    background-color: darkgreen;
}

td.pawn-place.East {
    background-color: cornflowerblue;
}

td.pawn-place.West {
    background-color: gold;
}

td.wall {
    background-color: cyan;
}

td.placed-wall {
    background-color: darkslategray;
}

td.pointed-wall {
    background-color: aquamarine;
}

td.pointed-wall.placed-wall {
    background-color: darkslategray;
}

ul {
    list-style: none;
    float: left;
}

ul li::before {
    content: "\2B24";
    font-weight: bold;
    /*font-size: xxx-large;*/
    padding-bottom: 0;
    padding-top: 0;
}

ul li {
    font-size: x-large;
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

ul li.North:before {
    color: darkred;
}

ul li.South:before {
    color: darkgreen;
}


ul li.East:before {
    color: cornflowerblue;
}


ul li.West:before {
    color: gold;
}


/*td.pointed-cell {*/
/*    background-color: coral;*/
/*}*/